<li class="list-group-item">

    <div *ngIf="appareilStatus === 'éteint'; then red; else green" ></div>

    <ng-template #red>
        <div style="width:20px;height:20px;background-color:red;"></div>
    </ng-template>

    <ng-template #green>
        <div style="width:20px;height:20px;background-color:green;" *ngIf="appareilStatus === 'allumé'; else gray"></div>
    </ng-template>

    <ng-template #gray>
        <div style="width:20px;height:20px;background-color:rgb(100, 104, 100);"></div>
    </ng-template>

    <h4 [ngStyle]="{
                    'color': getColor(),
                    'font-size.px':24,
                    'font-style': 'italic'
                }" 
    >Appareil : {{ appareilName }} -- Status : {{ getStatus() }} </h4>
    <input type="text" [(ngModel)]="appareilName">
</li>
