<nav class="navbar navbar-expand-sm bg-light navbar-gray sticky-top">
    <div class="container-fluid">
            <ul class="nav navbar-nav navbar-brand">
                <li class="nav-item"><a class="nav-link" href="#">Authentification</a></li>
                <li class="active" class="nav-item"><a class="nav-link" href="">Apparaeils</a></li>
            </ul>
    </div>
</nav>

<div>
    <app-mon-premier></app-mon-premier>
</div>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

  

  

